<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bt.server.model.dao.ThemeSpuMapper" >
  <resultMap id="BaseResultMap" type="com.bt.server.model.pojo.ThemeSpu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="theme_id" property="themeId" jdbcType="INTEGER" />
    <result column="spu_id" property="spuId" jdbcType="INTEGER" />
  </resultMap>
</mapper>